h1 {
  font-family: Arial, sans-serif;
}

h2 {
  font-family: Arial, sans-serif;
}

h3 {
  font-family: Arial, sans-serif;
}

h4 {
  font-family: Arial, sans-serif;
}

p {
  font-family: Arial, sans-serif;
}

ul {
  font-family: Arial, sans-serif;
}

ol {
  font-family: Arial, sans-serif;
}